.state-0 button{
    background:#37c837 !important;
    color:rgb(152, 151, 151) !important;
  }
.state-1 button{
background:#fe9e9b !important;
color:rgb(152, 151, 151) !important;
}
.state-2 button{
background:#f0fd7b !important;
color:rgb(152, 151, 151) !important;
}